.style__main___TOz9a {
  position: relative;
  background-color: black;
  border-radius: 50%;
  overflow: hidden;
  height: 50px;
  width: 50px;
  cursor: pointer; }
  .style__main__image___185xE {
    height: 100%;
    width: 100%;
    opacity: .5; }
  .style__main__icon___2ap6t {
    position: absolute;
    font-size: 26px;
    color: #7BD389;
    top: 12px;
    left: 14px; }
.style__main___TOz9a {
  background-color: #D2EBDC;
  display: flex;
  height: 100vh; }

.style__scene___3z7-F {
  max-height: 100vh;
  overflow-x: auto;
  flex: 1;
  box-sizing: border-box;
  padding: 30px 20px 0px; }

@media (max-width: 800px) {
  .style__main___TOz9a {
    display: block;
    height: auto; }
  .style__scene___3z7-F {
    padding: 5px 10px;
    flex: none;
    max-height: none;
    min-height: calc(100vh - 50px);
    margin-top: 50px; } }
body {
  background-color: #382F34; }

.style__main___TOz9a {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .style__main___TOz9a > * {
    color: #D2EBDC;
    text-align: center; }

.style__header___Ke5jM {
  font-size: 100px;
  margin-bottom: 0px; }

.style__sub___3061a {
  max-width: 350px;
  text-align: center; }

.style__button___zPyK2 {
  margin: 20px 0px 20vh;
  background-color: #38E4AE;
  color: #382F34;
  padding: 10px 50px;
  font-size: 26px;
  border: none;
  border-radius: 50px; }
  .style__button___zPyK2 > span {
    margin-left: 20px; }
.style__name_input___1FrJK {
  margin: 10px 0px; }

.style__recycle___9wn_k {
  margin-left: 20px; }

.style__recycle_explanation___289OU {
  margin: 9px 0px;
  opacity: .7; }

.style__sub_header___3vcBN {
  font-size: 18px; }
.style__toggle_button___3kbe5 {
  background-color: #38E4AE;
  color: #382F34;
  border: 1px solid #7BD389;
  font-size: 18px;
  margin: 15px; }

.style__clear_button___3cE9d {
  background-color: #D2EBDC;
  color: #382F34;
  border: 1px solid #382F34;
  font-size: 18px;
  margin: 15px; }

.style__query_form_container___i4Anh {
  background-color: white;
  overflow: auto;
  padding: 20px;
  width: 80vw;
  height: 70vh; }

.style__search_title___st6p0 {
  margin: 10px 0px 20px;
  color: #382F34; }
.style__main___TOz9a {
  background-color: #382F34; }
  .style__main__header___20Jv7 {
    padding: 60px 30px 0px 1em;
    min-width: 150px; }
    .style__main__header___20Jv7 * {
      color: #D2EBDC; }
    .style__main__header--top___NJDKz {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center; }
    .style__main__header--logo___2V5sJ {
      font-size: 50px;
      font-weight: bold; }
    .style__main__header--photo___1YIV9 {
      height: 50px;
      width: 50px;
      border-radius: 50%; }
    .style__main__header--name___1HuZ7 {
      font-size: 14px;
      margin-top: 5px; }
  .style__main___TOz9a li > * {
    color: #38E4AE;
    cursor: pointer; }
    .style__main___TOz9a li > *:hover, .style__main___TOz9a li > *:focus {
      background-color: #607466; }
    .style__main___TOz9a li > *.style__current___1wbIS {
      background-color: #D2EBDC;
      color: #382F34; }

.style__mobile_toggle___CfnkS {
  display: none; }

@media (max-width: 800px) {
  .style__main__header___20Jv7 {
    display: none; }
  .style__main___TOz9a li > * {
    border-top: 1px solid #7BD389;
    padding: 10px 20px;
    font-size: 26px; }
  .style__menu___1A-oB {
    z-index: 200;
    position: fixed;
    width: 100vw;
    height: calc(100vh - 50px);
    background-color: #382F34;
    top: 50px;
    left: -100vw;
    transition: 200ms ease; }
    .style__menu___1A-oB.style__open___2OBNQ {
      left: 0px; }
  .style__mobile_toggle___CfnkS {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
    width: 100vw;
    height: 50px;
    display: block;
    color: white;
    background-color: #382F34;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .style__toggle_icon___3f5gI, .style__mobile_logo___1BYB1 {
    margin: 0px 20px;
    display: block; } }
.style__main___TOz9a {
  align-items: center;
  background-color: rgba(100, 100, 100, 0.3);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 100; }
.style__main___TOz9a {
  position: relative; }

.style__options___3CFlC {
  position: absolute;
  z-index: 300;
  background-color: white;
  top: 100%;
  border-left: 1px solid #D2EBDC;
  border-right: 1px solid #D2EBDC;
  max-height: 150px;
  overflow: auto; }

.style__option___1r1vV {
  display: block;
  padding: 5px 2px;
  border-bottom: 1px solid #D2EBDC; }

.style__current___1wbIS {
  background-color: #7BD389; }
.style__form___1TsMF {
  margin: 30px 0px; }

.style__input___2dNoT {
  color: #382F34; }
.style__main___TOz9a {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin: 0px 20px 20px 0px;
  background-color: #607466;
  min-width: 90px;
  cursor: pointer; }
  .style__main___TOz9a > .style__name___351Rx {
    margin: 0px;
    padding: 5px; }
    .style__main___TOz9a > .style__name___351Rx > span {
      opacity: 0; }
    .style__main___TOz9a > .style__name___351Rx:hover > span {
      opacity: 1; }
  .style__main___TOz9a .style__input_container___yl7bq {
    background-color: white;
    border: 1px solid #607466; }
    .style__main___TOz9a .style__input_container___yl7bq > input.style__value___1tQYV {
      border-radius: 0px;
      padding: 5px;
      box-shadow: none;
      width: 90px;
      border: none;
      padding: 2px 5px; }
.style__main___TOz9a {
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 70vh;
  max-width: 1200px;
  background-color: white;
  font-size: 18px;
  padding: 20px;
  overflow: auto; }

.style__info___1_Ho- {
  margin-bottom: 20px; }
  .style__info__item___1gjCT {
    color: #382F34;
    font-size: 26px;
    margin-right: 10px; }
    .style__info__item___1gjCT > span {
      margin-left: 10px;
      font-size: 14px; }

.style__header___Ke5jM {
  font-size: 18px;
  margin: 0px 0px 10px; }

.style__player_and_time___1Sckv {
  display: flex;
  align-items: center; }

.style__player___3Qw1m {
  margin-right: 30px; }

.style__data_label___1gJ8I {
  margin-bottom: 5px;
  font-size: 18px; }

.style__disclaimer___1l5lM {
  font-size: 14px;
  margin-top: 5px; }

.style__form___1TsMF {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 20px 20px 0px; }

.style__new_tag_form___2QyCN {
  display: flex;
  align-items: flex-start;
  align-content: center; }
  .style__new_tag_form___2QyCN .style__tag_type_radio___38040 {
    margin: 0px 15px 0px 0px;
    display: block; }
  .style__new_tag_form___2QyCN > * {
    margin-right: 15px; }

.style__tag_button___2mIcg {
  background-color: #38E4AE; }

.style__label___1Lu9e {
  display: block;
  margin-bottom: 10px; }
  .style__label___1Lu9e:first-of-type {
    padding: 0px 10px 0px 0px; }

.style__input___2dNoT {
  max-width: 100%; }

.style__input_container___yl7bq {
  display: block;
  width: 12%;
  min-width: 90px;
  margin: 0px 20px 20px 0px; }

.style__input_group___3HZbW {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  align-content: start; }

.style__button___zPyK2 {
  background-color: #38E4AE;
  color: #382F34;
  display: block;
  align-self: end;
  margin: auto 0px 0px auto; }
.style__main___TOz9a {
  padding: 10px;
  box-sizing: border-box;
  border-top: 2px solid #382F34;
  background-color: #D2EBDC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer; }
  .style__main__item___3VX4q {
    flex: 1;
    flex-shrink: 0;
    padding: 10px 0px;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    color: #382F34; }
    .style__main__item___3VX4q:first-of-type {
      margin-left: 10px; }
  .style__main__add-icon___1GcQy {
    color: #7BD389;
    font-size: 26px;
    margin: 0px 20px;
    cursor: pointer; }

.style__items___1ZUJb {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.style__time___UBdHZ {
  flex: none; }
.style__main___TOz9a {
  display: inline-block;
  margin: 10px 20px 10px 0px;
  background-color: #607466;
  padding: 5px;
  min-width: 90px;
  cursor: pointer; }
  .style__main___TOz9a > .style__name___351Rx {
    margin: 0px;
    padding: 5px; }
  .style__main___TOz9a > span.style__remove___3tW1y {
    opacity: 0; }
  .style__main___TOz9a:hover > span.style__remove___3tW1y {
    opacity: 1; }
.style__tag-list___M5vQF {
  display: flex;
  margin: 10px 0px; }

.style__include___JzEWc {
  margin-bottom: 10px; }

.style__section-title___3U_jk {
  color: #382F34;
  font-size: 18px; }

.style__exclusive_toggle___3f96d {
  display: inline;
  margin-left: 20px; }
  .style__exclusive_toggle___3f96d > label.style__toggle_label___xjHWO {
    display: inline; }
    .style__exclusive_toggle___3f96d > label.style__toggle_label___xjHWO > input {
      margin-right: 10px; }

.style__include_form___2RLzS {
  display: flex; }
  .style__include_form___2RLzS > * {
    margin-right: 10px; }

.style__add-button___12h4H {
  margin: 0px 10px;
  background-color: #382F34;
  color: white; }

.style__submit-button___OYp4A {
  margin: 15px 0px;
  background-color: #38E4AE;
  color: #382F34;
  font-size: 18px; }
.style__form___1TsMF {
  display: flex;
  flex-wrap: wrap; }
  .style__form___1TsMF > * {
    margin: 5px 10px 5px 0px; }

.style__add-button___12h4H {
  background-color: #382F34;
  color: white; }
.style__success_header___1-Zmo {
  font-size: 18px; }

.style__button___zPyK2 {
  margin: 20px 20px 20px 0px;
  background-color: #38E4AE;
  color: #382F34;
  padding: 10px 50px;
  font-size: 26px;
  border: none;
  border-radius: 50px; }
  .style__button___zPyK2 > span {
    margin-left: 20px; }

.style__clear___GyYah {
  background-color: #D2EBDC;
  border: 1px solid #382F34; }
.style__main___TOz9a {
  padding: 10px;
  box-sizing: border-box;
  border-top: 2px solid #382F34;
  background-color: #D2EBDC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer; }
  .style__main__item___3VX4q {
    flex: 1;
    flex-shrink: 0;
    padding: 10px 0px;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 18px;
    color: #382F34; }
    .style__main__item___3VX4q:first-of-type {
      margin-left: 10px; }
  .style__main__add-icon___1GcQy {
    color: #7BD389;
    font-size: 26px;
    margin: 0px 20px;
    cursor: pointer; }

.style__items___1ZUJb {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.style__image___1RZfr {
  border-radius: 50%;
  overflow: hidden;
  height: 50px;
  width: 50px; }

.style__time___UBdHZ {
  flex: none; }
.style__main___TOz9a {
  width: 90vw;
  height: 75vh;
  box-sizing: border-box;
  background-color: #D2EBDC;
  display: flex;
  flex-direction: column;
  padding: 40px 80px; }

.style__options___3CFlC {
  display: flex;
  margin: 40px 0px;
  justify-content: center; }

.style__option___1r1vV {
  padding: 40px;
  text-align: center;
  flex: 1; }
  .style__option___1r1vV.style__serial___1gWO_ {
    border-right: 2px solid #382F34; }

.style__button___zPyK2 {
  margin: 20px 20px 20px 0px;
  background-color: #38E4AE;
  color: #382F34;
  padding: 10px 50px;
  font-size: 26px;
  border: none;
  border-radius: 50px; }
  .style__button___zPyK2 > span {
    margin-left: 20px; }

.style__tag_container___1UPwf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0px; }

.style__tags_list___12m2B {
  display: flex;
  flex-direction: row; }

.style__include_form___2RLzS {
  display: flex; }
  .style__include_form___2RLzS > * {
    margin-right: 10px; }

.style__add-button___12h4H {
  margin: 0px 10px;
  background-color: #382F34;
  color: white; }
