@import '~_/styles/_pallette';

.main {
	background-color: $gainsboro;
	display: flex;
	height: 100vh;
}

.scene {
	max-height: 100vh;
	overflow-x: auto;
	flex:1;
	box-sizing: border-box;
	padding: 30px 20px 0px;
}